<button class="btn btn-primary" (click)="login()">login</button>
<button class="btn btn-primary"  (click)="logout()" >logout</button>
<button class="btn btn-primary" (click)="checkAuth()" >check auth</button>
<button class="btn btn-primary" (click)="isAuthen()" >is authenticated?</button>
<button class="btn btn-primary" (click)="getIdToken()" >get id token</button>
<button class="btn btn-primary" (click)="getAccessToken()" >get access token</button>
<button class="btn btn-primary" (click)="getUserData()" >get user data</button>
